#Regla para evitar .php en las urls

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(,*)$ $1.php

# Inicio General
RewriteRule ^app_tareas$ vista/home.php [L]


DirectoryIndex vista/home.php

###########################################################################################
####################################### Alumnos ###########################################

# Login
RewriteRule ^vista_login_alumno$ vista/alumno/login.php [L]

# Home
RewriteRule ^vista_home_alumno$ vista/alumno/home.php [L]

# login controller
RewriteRule ^controlador_login_alumno$ controlador/alumno/controlador_login.php [L]

# home controller
RewriteRule ^controlador_home_alumno$ controlador/alumno/controlador_home.php [L]

# subir archivo controller
RewriteRule ^controlador_subir_archivo_alumno$ controlador/alumno/controlador_subir_archivo.php [L]

# cerrar sesion controller
RewriteRule ^controlador_cerrar_sesion_alumno$ controlador/alumno/controlador_cerrar_sesion.php [L]


###########################################################################################
####################################### MAESTROS ##########################################

# Login
RewriteRule ^vista_login_maestro$ vista/maestro/login.php [L]

# Home
RewriteRule ^vista_home_maestro$ vista//maestro/home.php [L]

# login controller
RewriteRule ^controlador_login_maestro$ controlador/maestro/controlador_login.php [L]



# cerrar sesion controller
RewriteRule ^controlador_cerrar_sesion_maestro$ controlador/maestro/controlador_cerrar_sesion.php [L]
